body {
    background-image: url("./fundo.jpg");
}


.lado-esquerdo h1{
  font-size: 50px;
  color: #fff;
  width: 49%;
  margin-left: 170px;

}

.lado-esquerdo p{
  color: #fff;
  font-size: 29px;
  width: 49%;
  margin-left: 170px;
}

.conteudo{
  display: flex;
}

.lado-direito{
  text-align: center;
}

.botao{
  width: 100px;
  height: 50px;
  background-color: #03748B;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 124px; 
  transition-duration: 0.4s;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.botao:hover {
  background-color: #034957;
  font-size: 15px;
}

.botao a{
  text-decoration: none;
  color: #fff;
}

.qr-code img{
  border-radius: 15px;
  margin-top: 37px;
  margin-right: 168px;
  
}